body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    height: 32px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 8px;
}

input {
    text-align: center;
}

h2 {
    margin-bottom: 64px;
}